.post-thumbnail-card {
    padding: 20px;
    border-radius: 4px;
    cursor: pointer
}

.post-thumbnail-card:hover {
    background: #f3f3f3
}

.post-thumbnail-card:hover .post-thumbnail-title {
    color: #00b49e
}

.post-thumbnail-image {
    margin-bottom: 24px;
    width: 360px;
    min-height: 202px;
    height: 100%
}

.post-thumbnail-title {
    font-weight: 700;
    font-size: 20px;
    color: #394155;
    -webkit-line-clamp: 2;
    line-clamp: 2
}

.post-thumbnail-description,
.post-thumbnail-title {
    margin-bottom: 12px;
    line-height: 125%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.post-thumbnail-description {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-weight: 400;
    font-size: 16px;
    color: #393939;
    font-family: DINPro
}

.post-thumbnail-description p {
    margin: 0;
    padding: 0
}

.post-thumbnail-date {
    font-family: Maven Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #a4a4a4
}

@media screen and (max-width:1439px) {
    .post-thumbnail-image {
        width: 264px;
        min-height: 149px;
        height: 100%
    }
}

@media screen and (max-width:1023px) {
    .post-thumbnail-image {
        width: 288px;
        min-height: 162px;
        height: 100%
    }

    .post-thumbnail-title {
        font-size: 18px
    }
}

@media screen and (max-width:767px) {
    .post-thumbnail-image {
        width: auto;
        height: auto
    }

    .post-thumbnail-title {
        font-size: 18px
    }
}

.posts-grid-container {
    background: #fff;
    padding: 64px 0 100px;
    margin: 0 auto
}

.posts-grid-thumbnails-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 120px;
    grid-row-gap: 24px
}

@media screen and (max-width:1439px) {
    .posts-grid-container {
        padding: 40px 0 100px
    }

    .posts-grid-thumbnails-container {
        max-width: 1024px;
        padding: 0 56px
    }
}

@media screen and (max-width:1023px) {
    .posts-grid-thumbnails-container {
        max-width: 768px;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media screen and (max-width:767px) {
    .posts-grid-container {
        padding: 20px 0 40px
    }

    .posts-grid-thumbnails-container {
        max-width: 100%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0
    }
}

.category-element {
    all: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    cursor: pointer;
    white-space: nowrap
}

.category-element-active,
.category-element:hover {
    color: #8cfaaa
}

.animated-search-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-width: 24px
}

.animated-search-icon {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    fill: #8cfaaa;
    cursor: pointer
}

.animated-search-icon:hover {
    fill: #fff
}

.animated-search-close-icon {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    fill: #898989;
    cursor: pointer
}

.animated-search-close-icon:hover {
    fill: #8cfaaa
}

.animated-search-input {
    all: unset;
    width: 24px;
    padding: 0;
    background-color: transparent;
    height: 40px;
    transition: width .4s ease-in-out;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #fff
}

.animated-search-input:focus {
    padding-left: 34px;
    padding-right: 20px;
    width: 280px;
    border-bottom: 1px solid #c4c4c4
}

@media screen and (max-width:767px) {
    .animated-search-wrapper {
        flex: 1 1
    }

    .animated-search-input:focus {
        display: flex;
        flex: 1 1;
        width: auto
    }

    .animated-search-input-border-hide:focus {
        border-bottom: none
    }
}

.categories-bar-wrapper {
    display: flex;
    justify-content: center;
    background: #394155;
    height: 64px;
    width: 100%
}

.categories-bar-container {
    width: 1440px;
    height: 100%;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.categories-scroll-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 36px;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #394155, #394155), linear-gradient(90deg, #394155, #394155), linear-gradient(90deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, 0)), linear-gradient(270deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, 0));
    background-position: 0, 100%, 0, 100%;
    background-repeat: no-repeat;
    background-size: 24px 100%, 24px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
    scrollbar-color: #27dec8 transparent
}

.categories-scroll-wrapper ul::-webkit-scrollbar-corner,
.categories-scroll-wrapper::-webkit-scrollbar-corner {
    background-color: transparent
}

.categories-scroll-wrapper ul::-webkit-scrollbar-thumb,
.categories-scroll-wrapper::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: #27dec8;
    border-radius: 3px
}

.categories-search-wrapper {
    margin-left: 26px
}

@media screen and (max-width:1439px) {
    .categories-bar-container {
        width: 1024px;
        padding: 0 56px
    }
}

@media screen and (max-width:1023px) {
    .categories-bar-container {
        width: 768px;
        padding: 0 32px
    }
}

@media screen and (max-width:767px) {
    .categories-bar-container {
        width: 100%;
        padding: 0 16px 0 20px;
        display: flex
    }

    .categories-scroll-wrapper-hide {
        display: none
    }

    .categories-search-wrapper {
        display: flex;
        flex: 1 1;
        margin-left: 16px
    }

    .categories-search-wrapper-focused {
        margin-left: 0
    }
}

.ant-carousel {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum"
}

.ant-carousel .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

.ant-carousel .slick-list {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.ant-carousel .slick-list:focus {
    outline: none
}

.ant-carousel .slick-list.dragging {
    cursor: pointer
}

.ant-carousel .slick-list .slick-slide {
    pointer-events: none
}

.ant-carousel .slick-list .slick-slide input.ant-checkbox-input,
.ant-carousel .slick-list .slick-slide input.ant-radio-input {
    visibility: hidden
}

.ant-carousel .slick-list .slick-slide.slick-active {
    pointer-events: auto
}

.ant-carousel .slick-list .slick-slide.slick-active input.ant-checkbox-input,
.ant-carousel .slick-list .slick-slide.slick-active input.ant-radio-input {
    visibility: visible
}

.ant-carousel .slick-list .slick-slide>div>div {
    vertical-align: bottom
}

.ant-carousel .slick-slider .slick-list,
.ant-carousel .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    touch-action: pan-y
}

.ant-carousel .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.ant-carousel .slick-track:after,
.ant-carousel .slick-track:before {
    display: table;
    content: ""
}

.ant-carousel .slick-track:after {
    clear: both
}

.slick-loading .ant-carousel .slick-track {
    visibility: hidden
}

.ant-carousel .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

.ant-carousel .slick-slide img {
    display: block
}

.ant-carousel .slick-slide.slick-loading img {
    display: none
}

.ant-carousel .slick-slide.dragging img {
    pointer-events: none
}

.ant-carousel .slick-initialized .slick-slide {
    display: block
}

.ant-carousel .slick-loading .slick-slide {
    visibility: hidden
}

.ant-carousel .slick-vertical .slick-slide {
    display: block;
    height: auto
}

.ant-carousel .slick-arrow.slick-hidden {
    display: none
}

.ant-carousel .slick-next,
.ant-carousel .slick-prev {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    cursor: pointer
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:focus,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-prev:hover {
    color: transparent;
    background: transparent;
    outline: none
}

.ant-carousel .slick-next:focus:before,
.ant-carousel .slick-next:hover:before,
.ant-carousel .slick-prev:focus:before,
.ant-carousel .slick-prev:hover:before {
    opacity: 1
}

.ant-carousel .slick-next.slick-disabled:before,
.ant-carousel .slick-prev.slick-disabled:before {
    opacity: .25
}

.ant-carousel .slick-prev {
    left: -25px
}

.ant-carousel .slick-prev:before {
    content: "←"
}

.ant-carousel .slick-next {
    right: -25px
}

.ant-carousel .slick-next:before {
    content: "→"
}

.ant-carousel .slick-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex !important;
    justify-content: center;
    margin-right: 15%;
    margin-bottom: 0;
    margin-left: 15%;
    padding-left: 0;
    list-style: none
}

.ant-carousel .slick-dots-bottom {
    bottom: 12px
}

.ant-carousel .slick-dots-top {
    top: 12px;
    bottom: auto
}

.ant-carousel .slick-dots li {
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 16px;
    height: 3px;
    margin: 0 4px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    transition: all .5s
}

.ant-carousel .slick-dots li button {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: .3;
    transition: all .5s
}

.ant-carousel .slick-dots li button:focus,
.ant-carousel .slick-dots li button:hover {
    opacity: .75
}

.ant-carousel .slick-dots li button:after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: ""
}

.ant-carousel .slick-dots li.slick-active {
    width: 24px
}

.ant-carousel .slick-dots li.slick-active button {
    background: #fff;
    opacity: 1
}

.ant-carousel .slick-dots li.slick-active:focus,
.ant-carousel .slick-dots li.slick-active:hover {
    opacity: 1
}

.ant-carousel-vertical .slick-dots {
    top: 50%;
    bottom: auto;
    flex-direction: column;
    width: 3px;
    height: auto;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.ant-carousel-vertical .slick-dots-left {
    right: auto;
    left: 12px
}

.ant-carousel-vertical .slick-dots-right {
    right: 12px;
    left: auto
}

.ant-carousel-vertical .slick-dots li {
    width: 3px;
    height: 16px;
    margin: 4px 0;
    vertical-align: baseline
}

.ant-carousel-vertical .slick-dots li button {
    width: 3px;
    height: 16px
}

.ant-carousel-vertical .slick-dots li.slick-active,
.ant-carousel-vertical .slick-dots li.slick-active button {
    width: 3px;
    height: 24px
}

.ant-carousel-rtl {
    direction: rtl
}

.ant-carousel-rtl .ant-carousel .slick-track {
    right: 0;
    left: auto
}

.ant-carousel-rtl .ant-carousel .slick-prev {
    right: -25px;
    left: auto
}

.ant-carousel-rtl .ant-carousel .slick-prev:before {
    content: "→"
}

.ant-carousel-rtl .ant-carousel .slick-next {
    right: auto;
    left: -25px
}

.ant-carousel-rtl .ant-carousel .slick-next:before {
    content: "←"
}

.ant-carousel-rtl.ant-carousel .slick-dots {
    flex-direction: row-reverse
}

.ant-carousel-rtl.ant-carousel-vertical .slick-dots {
    flex-direction: column
}

.blog-slider-element-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 387px;
    height: 100%;
    width: 100%;
    padding-bottom: 56px
}

.blog-slider-image-column {
    width: 580px;
    height: 327px
}

.blog-slider-information-column {
    width: 580px
}

.blog-slider-information-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 20px
}

.blog-slider-information-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical
}

.blog-slider-information-date {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #898989;
    margin-top: 20px
}

.blog-slider-element-link {
    display: flex;
    justify-content: space-between;
    width: 100%
}

@media screen and (max-width:1439px) {
    .blog-slider-element-wrapper {
        min-height: 313px;
        height: 100%;
        padding-bottom: 56px
    }

    .blog-slider-element-link {
        width: 100%
    }

    .blog-slider-information-column {
        width: 444px
    }

    .blog-slider-image-column {
        width: 444px;
        height: 253px
    }
}

@media screen and (max-width:1023px) {
    .blog-slider-element-wrapper {
        height: auto
    }

    .blog-slider-element-link {
        flex-direction: column;
        max-height: none
    }

    .blog-slider-information-column {
        width: 100%;
        margin-bottom: 40px
    }

    .blog-slider-information-title {
        font-size: 28px
    }

    .blog-slider-image-column {
        min-width: 656px;
        min-height: 370px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto
    }
}

@media screen and (max-width:767px) {
    .blog-slider-element-wrapper {
        padding-bottom: 48px
    }

    .blog-slider-image-column {
        min-width: 0;
        min-width: auto;
        min-height: 0;
        min-height: auto;
        height: auto;
        width: auto
    }
}

.chevron {
    width: 24px;
    height: 24px
}

.chevron-left {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.chevron-top {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.chevron-bottom {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.lang-select-wrapper {
    position: relative;
    z-index: 1
}

.lang-select {
    min-width: 144px;
    height: 36px;
    border: 1px solid hsla(0, 0%, 100%, .6);
    border-radius: 3px;
    line-height: 22px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lang-select svg path {
    fill: hsla(0, 0%, 100%, .6)
}

.lang-select:hover {
    background: hsla(0, 0%, 100%, .2);
    border: 1px solid #fff
}

.lang-select:hover .lang-select-text {
    color: #fff
}

.lang-select:hover svg path {
    fill: #fff
}

.lang-select-text-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px
}

.lang-select-text,
.lang-select-text-desktop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 16px;
    color: hsla(0, 0%, 100%, .6);
    margin-left: 6px
}

.lang-select-text-desktop {
    display: block
}

.lang-select-text-mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 16px;
    color: hsla(0, 0%, 100%, .6);
    margin-left: 6px;
    display: none;
    font-size: 14px
}

.lang-select-dropdown-content {
    display: none;
    position: absolute;
    overflow-x: scroll;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 9px
}

.lang-select-show-dropdown {
    display: block
}

.lang-select-option {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #393939;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    padding: 12px
}

.lang-select-option:hover {
    background-color: #ddd
}

.lang-select-option-desktop {
    display: inline;
    display: initial
}

.lang-select-option-mobile {
    display: none
}

@media screen and (max-width:1023px) {
    .lang-select-text-wrapper {
        margin-left: -8px
    }

    .lang-select-text-wrapper svg {
        display: none
    }
}

@media screen and (max-width:767px) {
    .lang-select {
        width: 72px;
        min-width: auto
    }

    .lang-select-option-desktop {
        display: none
    }

    .lang-select-option-mobile {
        display: inline;
        display: initial
    }

    .lang-select-text-desktop {
        display: none
    }

    .lang-select-text-mobile {
        display: block
    }
}

.main-modal {
    position: fixed;
    inset: 0;
    background: #0d0e11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
    z-index: 99999999;
    pointer-events: none
}

.main-modal-body {
    position: relative;
    height: auto;
    min-height: 200px;
    background-color: #20252f;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .8);
    border-radius: 4px
}

.main-modal-close-button {
    all: unset;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
    cursor: pointer
}

.main-modal-woo-logo {
    display: none
}

@media screen and (max-width:767px) {
    .main-modal-body {
        height: 100vh;
        width: 100vw !important;
        border-radius: 0
    }

    .main-modal-woo-logo {
        display: block;
        position: absolute;
        top: 21px;
        left: 20px
    }

    .main-modal-woo-logo .logo {
        width: 74px;
        height: 22px;
        cursor: pointer
    }

    .main-modal-woo-logo .logo img {
        width: 100%
    }
}

.subscribe-modal-container {
    padding: 40px 60px
}

.subscribe-modal-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: hsla(0, 0%, 100%, .45);
    margin-bottom: 24px
}

.subscribe-modal-description {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 40px
}

.subscribe-modal-button {
    unset: all;
    padding: 12px 32px;
    gap: 10px;
    width: 175px;
    height: 44px;
    background: #394155;
    border-radius: 3px;
    color: #0d0e11;
    border: none;
    margin: 0 auto;
    cursor: pointer
}

.subscribe-modal-button:not([disabled]) {
    background: #8cfaaa;
    color: #0d0e11
}

.subscribe-modal-input {
    border-radius: 4px;
    background-color: #15181d;
    border: none;
    height: 32px;
    padding: 6px 12px;
    caret-color: #8cfaaa;
    color: #fff;
    width: 100%
}

.subscribe-modal-input:focus {
    outline: none
}

.subscribe-modal-input::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .2)
}

.subscribe-modal-input:-ms-input-placeholder {
    color: hsla(0, 0%, 100%, .2)
}

.subscribe-modal-input::placeholder {
    color: hsla(0, 0%, 100%, .2)
}

.subscribe-modal-input-wrapper {
    position: relative;
    padding-bottom: 40px
}

.subscribe-modal-form {
    display: flex;
    flex-direction: column;
    width: 100%
}

.subscribe-modal-input-error {
    position: absolute;
    padding-left: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #e95d5d;
    bottom: 15px
}

@media screen and (max-width:767px) {
    .subscribe-modal-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px
    }
}

.blog-slider-wrapper {
    width: 100%;
    height: 613px;
    background: #181c23;
    display: flex;
    justify-content: center;
    padding: 65px 80px
}

.blog-slider-container {
    width: 1440px;
    padding: 0 120px
}

.blog-slider-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px
}

.blog-slider-blog-actions {
    display: inline-flex;
    flex-direction: row;
    gap: 8px
}

.blog-slider-blog-text {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: hsla(0, 0%, 100%, .6)
}

.blog-slider-subscribe-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 118px;
    height: 36px;
    background: #8cfaaa;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #0d0e11
}

.blog-slider-subscribe-button:hover {
    background: #fff
}

.blog-slider-dots {
    bottom: 0 !important;
    margin-bottom: 0
}

.blog-slider-dots>li {
    width: 64px !important;
    margin-left: 8px !important;
    margin-right: 8px !important
}

.blog-slider-dots>li button {
    height: 4px !important;
    border-radius: 2px !important;
    background: #394155 !important
}

.blog-slider-dots>li.slick-active button {
    background-color: #8cfaaa !important
}

.blog-slider-button {
    all: unset;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 152px;
    cursor: pointer
}

.blog-slider-button:hover svg {
    fill: #a4a4a4 !important
}

.blog-slider-next-button {
    all: unset;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 152px;
    cursor: pointer;
    left: -48px
}

.blog-slider-next-button:hover svg {
    fill: #a4a4a4 !important
}

.blog-slider-prev-button {
    all: unset;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 152px;
    cursor: pointer;
    right: -48px
}

.blog-slider-prev-button:hover svg {
    fill: #a4a4a4 !important
}

@media screen and (max-width:1439px) {
    .blog-slider-wrapper {
        min-height: 539px;
        height: auto;
        padding: 62px 0 80px
    }

    .blog-slider-container {
        padding: 0 56px;
        width: 1024px
    }

    .blog-slider-next-button,
    .blog-slider-prev-button {
        top: 115px
    }
}

@media screen and (max-width:1023px) {
    .blog-slider-wrapper {
        height: auto;
        padding: 49px 0 80px
    }

    .blog-slider-container {
        width: 100%
    }

    .blog-slider-next-button,
    .blog-slider-prev-button {
        top: auto;
        bottom: 229px
    }
}

@media screen and (max-width:767px) {
    .blog-slider-wrapper {
        height: auto;
        padding: 22px 0 48px
    }

    .blog-slider-container {
        padding: 0 20px
    }

    .blog-slider-first-row {
        margin-bottom: 45px
    }

    .blog-slider-blog-text {
        font-size: 20px
    }

    .blog-slider-dots>li {
        margin-left: 6px !important;
        margin-right: 6px !important
    }
}

.blog-container {
    background: #181c23;
    overflow: hidden
}